@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    max-width: 100%;
    background:linear-gradient(#4600b8,#4e0097) ;
    align-items: center;
    justify-content: center;
}

.sec2{
    width: 100%;
    height: 50%;
    background-color: #400080;
} 

  h1 {
    font-size: 4.2em;
  }

  h2 {
    font-size: 1.65em;
    padding-top: 10px;
  }
  
  header img {
    width: 38px;
    height: 38px;
  }

  label {
    margin-left: 5px;
  }
  
  button {
    background: #F9095F;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 850;
    cursor: pointer;
    border: 0;
    border-radius: 13px;
    width: 90px;
    height: 40px;
    box-shadow: 5px -5px#74092f;
    transition: 0.5s;
  }

    button:hover {
     transform: scale(1.1);
    }

  input {
    width: 70%;
    height: 32px;
    outline: none;
    border: none;
    background: #f5f5f5;

    padding: 5px;
    box-sizing: border-box;
  }

  .container{
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: block;
    justify-content: space-between;
}

h2{
  font-family: 'Poppins' sans-serif;
  font-size: 2em;
  font-weight: 800;
  color: #ffff;
}

.box{
  display: flex;
  width: 100%;
  position: relative;
  z-index: 20;
}

  .App {
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 50%;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #6300c7;
  }

  .text-box{
    background-color: #6300c7;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius:20px 0 0 20px ;
    position: relative;
    z-index: 20;
}
  

  .app-box{
    background-color: #6300c7;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    justify-content: flex-end;
  }
    
    .App .header {
      width: 320px;
      margin-bottom: 15px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
      .App .header img {
        margin-right: 5px;
      }
    

    .App .bar {
      width: 248px;
      height: 3px;
      border-radius: 10px;
      background: black;
    }
        
      .App .bar .progressbar {
        width: 0%;
        height: 3px;
        border-radius: 10px;
        background: coral;
      }


    .App .box-option {
      width: 320px;
      height: 35px;
      border-radius: 5px;
      margin: 15px 0px 15px 0px;
      padding: 0;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }

      .App .box-option li {
        cursor: pointer;
        width: 30%;
        height: 30px;
        list-style: none;
        border-radius: 5px;
        background: #fff;

        color: #3d3d3d;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .App .box-option li:hover {
        background: rgb(253, 108, 103);
      }
  

    .App .app-box {
      width: 270px;
      height: 260px;
      border-radius: 250px;
      background: #6100FF;
      font-size: 1.4em;
      color: #ffffff;
      border: solid 3px #F9095F;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      left: -25px;
      top: -20px;
    }

    .App .buttons {
      width: 50%;
      height: 35px;
      display: flex;
      justify-content: center;
      margin-top: -5px;
    }

    #bt2{
      margin-left: 15px;
    }
    
    #bt3{
      margin-left: 15px;
    }

    .App .box-nota {
      width: 320px;
      height: 120px;
      margin-top: 15px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
    }

      .App .box-nota .checkBox {
        width: 320px;
        display: flex;
        align-items: center;
      }

      .App .box-nota .eNota {
        position: relative;
        width: 320px;
        height: 35px;
        border: 1px dotted #fff;
        border-radius: 5px;
        background: rgb(0,0,0,0.1);

        display: flex;
        justify-content: center;
        align-items: center;
      }

        .eNota p {
          font-size: 14px;
        }

        .eNota .rem {
          cursor: pointer;
          position: absolute;
          width: 18px;
          height: 18px;
          top: -15px;
          right: -14px;
          padding: 5px;
          filter: grayscale(1);
          border-radius: 5px;
        }

        .eNota .rem:hover {
          filter: grayscale(0);
        }


    #check {
        width: 18px;
    }
    

    .App .social-box {
      width: 320px;
      height: 62px;
      margin-top: 5%;
      border-radius: 5px;
      border: 1px solid #fff;
      background: transparent ;
  
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }


    /*Página de pagamento*/
    .App .box-pay {
      width: 420px;
      height: 320px;
      border-radius: 5px;
      background: #f08080;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center
    }

      .box-pay p {
        text-align: justify;
        margin-bottom: 20px;
        padding: 20px;
      }

      .box-pay input {
        margin-bottom: 10px;
      }

      .box-pay button {
        margin-top: 20px;
      }


  body #box-icon {
    position: absolute;
    height: 42px;
    top: 15px;
    right: 15px;
  }

    body .icon {
      cursor: pointer;
      width: 42px;
      height: 42px;
      border: 0;
      border-radius: 50%;
      background: #fff;
      color: black;
    }

      .icon img {
        width: 25px;
        height: 25px;
      }

    .box-config {
      position: absolute;
      width: 230px;
      height: 175px;
      border-radius: 10px;
      background: #fff;
      top: 65px;
      right: 15px;

      color: black;

      display: none;
      flex-wrap: wrap;
      justify-content: center;
    }

    .box-config p {
      width: 95%; 
      height: 15px; 
      
      color: #3d3d3d; 
      padding: 10px 0px 0px 5px;
    }


    .box-config ul {
      width: 95%;
      height: 50px;
      border-radius: 10px;
      margin-top: 0px;
      background: #c0c0c0;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

      .box-config ul li {
        cursor: pointer;
        width: 35px;
        height: 35px;
        list-style: none;
        border-radius: 5px;
        background: #a9a9a9;

        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
      }

    .box-config .buy {
      cursor: pointer;
      width: 95%;
      height: 50px;
      border-radius: 10px;
      background: #32CD32;

      font-size: 1.26em;
      color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;
    }

